*,
*::after,
*::before {
  box-sizing: border-box;
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat SemiBold;
  src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: Montserrat Bold;
  src: url(../fonts/Montserrat-Bold.ttf);
}
:root {
  --dark-black-color: #000000;
  --white-color: #ffffff;
  --light-black-color: #383838;
  --orange-color: #ffba59;
  --blue-color: #07a0c3;
  --sky-blue-color: #29a6ff;
  --grey-color: #a3a3a3;
  --body-color: #171b29;
  --border-radius: 20px;
}
body {
  margin: 0;
  font-size: 100%;
  font-family: Montserrat;
  background-color: var(--body-color);
}
h1,
h2,
h3,
h4 {
  font-size: 1.5em;
  font-family: Montserrat Bold;
  color: var(--white-color);
}
a {
  color: var(--white-color);
  font-weight: bold;
  text-decoration: none;
  font-family: Montserrat SemiBold;
}
p {
  color: var(--white-color);
}
h5 {
  font-size: 1em;
  font-family: Montserrat Bold;
  color: var(--white-color);
}
/* a:hover {
  text-decoration: underline;
} */

/* --------- General ------- */
.nav-icon-set li {
  opacity: 0.5;
}
.active {
  opacity: 1 !important;
}
/* Modals */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: all 0.2s;
  opacity: 0;
  z-index: 20;
}
.modal.active {
  opacity: 1;
  pointer-events: initial;
}
.modal-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal-back.transparent {
  background-color: transparent;
}
.modal-back.passthrough {
  pointer-events: none;
}

.modal-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 3em));
  width: calc(100vw - 3em);
  max-height: calc(100vh - 3em);
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  transition: all 0.4s;
  background-color: var(--body-color);
}
.modal-popup button {
  width: 40%;
  margin: 20px 0;
}
.no-button {
  border-radius: var(--border-radius);
  padding: 0.7em 1em;
  outline: 0;
  text-align: center;
  background-color: var(--white-color);
}
.no-button a {
  font-size: 18px;
  color: var(--orange-color);
  font-family: Montserrat Bold;
  text-decoration: none;
}
.yes-button {
  border-radius: var(--border-radius);
  padding: 0.7em 1em;
  outline: 0;
  text-align: center;
  background-color: var(--orange-color);
  border: none;
}
.yes-button a {
  font-size: 18px;
  color: var(--white-color);
  font-family: Montserrat Bold;
  text-decoration: none;
}
.choose-gallery-button {
  width: 100% !important;
  margin: 1em !important;
  border-radius: var(--border-radius);
  padding: 0.7em 1em;
  outline: 0;
  text-align: center;
  background-color: var(--white-color);
}
.choose-gallery-button a {
  font-size: 18px;
  color: var(--orange-color);
  font-family: Montserrat Bold;
  text-decoration: none;
}
.camera-roll-button {
  width: 100% !important;
  margin: 0.5em 1em 2em 1em !important;
  border-radius: var(--border-radius);
  padding: 0.7em 1em;
  outline: 0;
  text-align: center;
  background-color: var(--orange-color);
  border: none;
}
.camera-roll-button a {
  font-size: 18px;
  color: var(--white-color);
  font-family: Montserrat Bold;
  text-decoration: none;
}
.modal-head-text {
  margin: 1em;
}
.modal-body {
  background-color: var(--body-color);
  flex: 1 1 100%;
  padding: 1em;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  border-top: 1px solid var(--light-black-color);
}
.modal.active .modal-popup {
  transform: translate(-50%, -50%);
}
.modal.active .modal-drawer {
  transform: translate(0);
}
.modal-drawer {
  position: absolute;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.modal-drawer.left,
.modal-drawer.right {
  height: 100%;
  width: 70vw;
}
.modal-drawer.left {
  left: 0;
  transform: translateX(-100%);
}
.modal-drawer.right {
  right: 0;
  transform: translateX(100%);
}

.modal-drawer.top,
.modal-drawer.bottom {
  height: 50vh;
  width: 100%;
}
.modal-drawer.top {
  top: 0;
  transform: translateY(-100%);
}
.modal-drawer.bottom {
  bottom: 0;
  transform: translateY(100%);
}

.modal.active .modal-drawer {
  transform: translate(0);
}

/* ---------- Add Button ---------- */
.add-button {
  position: fixed;
  right: 1em;
  bottom: 6em;
  width: 56px;
  height: 56px;
  background-color: var(--orange-color);
  border-radius: 50%;
  z-index: 10;
}
.add-button a {
  text-align: center;
  font-size: 46px;
  padding-left: 15px;
  font-family: Montserrat;
}

/* ---------- Welcome Page ----------- */
#welcome-page {
  background-image: url("../img/welcome-cat.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.welcome-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.welcome-text {
  color: var(--white-color);
  text-align: center;
  padding: 1em;
}
.welcome-button {
  border-radius: var(--border-radius);
  width: 70%;
  padding: 0.8em 1em;
  margin: 10px auto 50px auto;
  outline: 0;
  text-align: center;
  text-decoration: none;
  background-color: var(--orange-color);
  font-size: 18px;
  color: #fff;
  border: none;
  font-family: Montserrat Bold;
}

/* --------------- Form -------------- */

.form-control {
  margin: 1em 0;
}
.ui-mobile .form-label {
  font-size: 0.9em;
  margin: 0.5rem 0;
  color: var(--white-color);
  font-family: Montserrat;
}
.form-input {
  display: inline-block;
  width: 100%;
  padding: 0.7em 1em;
  font: inherit;
  margin: 0;
  outline: 0;
  border-width: 0;
  background-color: var(--white-color);
  border-radius: var(--border-radius);
}
.search-input {
  display: none;
  width: 100%;
  padding: 0.4em 1em;
  font: inherit;
  margin: 16px;
  outline: 0;
  border-width: 0;
  background-color: var(--white-color);
  border-radius: var(--border-radius);
}
.search-input.active {
  display: inline-block !important;
}
.form-description {
  display: inline-block;
  width: 100%;
  padding: 0.7em 1em;
  min-height: 150px;
  font: inherit;
  margin: 0;
  outline: 0;
  border-width: 0;
  background-color: var(--white-color);
  border-radius: var(--border-radius);
}
.image-input {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 2em 1em;
  font: inherit;
  margin: 0;
  outline: 0;
  border-width: 0;
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  box-shadow: 1px 2px 5px var(--grey-color);
}
.form-button {
  display: inline-block;
  border-radius: var(--border-radius);
  width: 100%;
  padding: 0.7em 1em;
  margin: 20px 0 0 0;
  outline: 0;
  text-align: center;
  text-decoration: none;
  background-color: #ffba59;
  font-size: 18px;
  color: #fff;
  border: none;
  font-family: Montserrat Bold;
}
.location-map {
  width: 100%;
  height: 200px;
  border-radius: var(--border-radius);
  object-fit: cover;
}
#signin-form {
  padding: 5% 1em 1em 1em;
}
#signup-form {
  padding: 5% 1em 1em 1em;
}
#cat-edit-form,
#user-edit-form,
#user-form,
#cat-form,
#add-cat-form,
#user-password-form {
  padding: 1em;
}

.logo {
  max-width: 100%;
  max-height: 100%;
}
.sign-text {
  color: var(--white-color);
  padding: 1em 0 0 1em;
}
.signuptext {
  padding-left: 1em;
  color: var(--white-color);
}
.signin-signup-text{
  color: var(--white-color);
  text-align: center;
}
.logout-text {
  margin: 20px 24px 0 0;
  color: var(--blue-color);
  font-size: 18px;
}
#error-message{
  color: rgb(207, 49, 49);
  font-family: Montserrat Bold;
  font-size: 18px;
  display: none;
}
/* -------- Page Layouts ------- */

.ui-mobile .ui-page-active {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
[data-role="main"] {
  flex: 1 1 100%;
  overflow: hidden;
  position: relative;
}
.ui-header,
.ui-footer {
  flex: none;
  border-width: 0;
  position: relative;
  overflow: hidden;
  height: 64px;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  border: 1px solid var(--light-black-color);
}
.ui-header .ui-title {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
.ui-header ul,
.ui-footer ul {
  position: relative;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.ui-footer li {
  flex: 1 1 auto;
  text-align: center;
}
.ui-header a,
.ui-footer a {
  display: block;
  padding: 0 1em;
  color: var(--white-color);
}
.icon-buttons {
  width: 30px;
  height: 30px;
  margin: 8px 0 0 0;
}
.back-icon {
  width: 30px;
  height: 30px;
  margin: 16px 0 16px 16px;
}
.edit-icon {
  width: 25px;
  height: 25px;
  margin: 16px 16px 16px 0;
}
.close-icon {
  width: 20px;
  height: 20px;
  margin: 8px 8px 0 8px;
}
.drop-pin-text {
  margin: 16px 16px 16px 0;
}
.menu-text {
  display: block;
  margin: 0;
  font-size: 12px;
}
.map {
  position: relative;
  width: 100%;
  height: 100%;
}
.location-pin {
  position: absolute;
  top: 90vmin;
  left: 40vmin;
}
/* --------- List Page ------- */

.boxdiv {
  margin-top: 5vh;
}
.catbox {
  width: 45%;
  margin: 0.5em;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cat-list-page-image{
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}
/* --------- Profiles ------- */

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.profile-image-popup {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.selection {
  border: none;
  border-radius: var(--border-radius);
  font-size: 16px;
  color: rgb(109, 108, 108);
  background: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 30px;
  display: inline-block;
  width: 100%;
  padding: 0.7em 1em;
  font: inherit;
  margin: 0;
  outline: 0;
  border-width: 0;
  background-color: var(--white-color);
}
.selection-edit {
  width: 100%;
  border-radius: var(--border-radius);
  font-size: 16px;
  color: rgb(109, 108, 108);
  background: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../img/icons/down.svg);
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 15px;
  background-size: 20px;
  display: inline-block;
  padding: 0.7em 1em;
  font: inherit;
  border-width: 0;
  background-color: var(--white-color);
}
.change-photo-text {
  display: block;
  font-size: 14px;
  margin-top: 8px;
}
.upload-icon {
  max-width: 100%;
  max-height: 100%;
  padding: 0 1.5em;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: var(--white-color);
}
.cat-map{
  width: 100%;
  height: 40vh;
  border-radius: var(--border-radius);
}
.info-text-name{
  font-family: Montserrat;
  font-size: 20px;
}
.info-box-div{
  padding: 1em;
}
.info-header-text{
  font-size: 24px;
}
.info-box-div a{
  color:var(--white-color);
  font-size: 18px;
  font-family: Montserrat SemiBold;
  display: block;
  margin-top: 16px;
}
.info-box-div h4{
  font-size: 20px;
  margin-top: 16px;
}

/* Layout Classes */

.overscroll {
  overflow: auto;
}
.hidden {
  display: none;
}
.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.display-block {
  display: block;
}
.display-grid {
  display: grid;
}
.display-inline-flex {
  display: inline-flex;
}
.display-inline-block {
  display: inline-block;
}
.flex-stretch {
  flex: 1 1 auto;
}
.flex-none {
  flex: none;
}
.flex-align-center {
  align-items: center;
}
.flex-justify-center {
  justify-content: center;
}
.flex-justify-evenly {
  justify-content: space-evenly;
}
.flex-justify-between {
  justify-content: space-between;
}
.flex-justify-around {
  justify-content: space-around;
}
.flex-column {
  flex-direction: column;
}
.text-center {
  text-align: center;
}

@media screen and (max-width:320px) {
  .catbox{
    width: 100%;
  }
}